<header>
    <h1>
        <a href='{{ site.url }}/'>
            <span data-lang="en">{{ site.name }}</span>
            <span data-lang="fr">Page d'accueil de Hanqing Li</span>
            <span data-lang="zh">李汉青的主页</span>
        </a>
    </h1>
</header>
<nav>
    <span data-lang="en"><a href='{{ site.url }}/about/'>About</a> | <a href='{{ site.url }}/research/'>Research</a> | <a href='{{ site.url }}/notes/'>Notes</a> | <a href='{{ site.url }}/papers/'>Papers</a> | <a href="{{ '/assets/Hanqing_Li_CV.pdf' | relative_url }}">CV</a></span>
    <span data-lang="fr"><a href='{{ site.url }}/about/'>À propos</a> | <a href='{{ site.url }}/research/'>Recherche</a> | <a href='{{ site.url }}/notes/'>Notes</a> | <a href='{{ site.url }}/papers/'>Publications</a> | <a href="{{ '/assets/Hanqing_Li_CV.pdf' | relative_url }}">CV</a></span>
    <span data-lang="zh"><a href='{{ site.url }}/about/'>关于</a> | <a href='{{ site.url }}/research/'>研究</a> | <a href='{{ site.url }}/notes/'>笔记</a> | <a href='{{ site.url }}/papers/'>论文</a> | <a href="{{ '/assets/Hanqing_Li_CV.pdf' | relative_url }}">学术简历</a></span>
    <span class="language-choice"><button type="button" data-language-choice="en" aria-pressed="true">En</button>/<button type="button" data-language-choice="fr" aria-pressed="false">Fr</button>/<button type="button" data-language-choice="zh" aria-pressed="false">中</button></span>
</nav>
<hr>
