---
layout: default
---

<style>
    .papers-list {
        counter-reset: papers;
        list-style: none;
        padding-left: 0;
    }

    .papers-list > li {
        counter-increment: papers;
        display: grid;
        column-gap: 0.25em;
        grid-template-columns: 1.7em minmax(0, 1fr);
        margin-bottom: 0.85em;
    }

    .papers-list > li::before {
        content: "[" counter(papers) "]";
    }

    .papers-list > li > p {
        margin: 0;
        min-width: 0;
        padding-left: 1.15em;
        text-indent: -1.15em;
    }
</style>

<div data-lang="en">
    {% include paper-list.html preprints_heading="Preprints" journal_heading="Journal papers" %}
</div>

<div data-lang="fr">
    {% include paper-list.html preprints_heading="Prépublications" journal_heading="Articles de revue" %}
</div>

<div data-lang="zh">
    {% include paper-list.html preprints_heading="预印本" journal_heading="期刊论文" %}
</div>

<hr>
